.navButton{
    width:20%;

} 

.buttonText{
    width: 110%;
}
 


.menu__item.active {
 
    transform: translate3d(0, -.8em , 0);
 
}
 
.menu__item.active::before{
 
    transform: scale(1);
    background-color: var(--bgColorItem);
 
}
 
.newPost{
    background-image: url(./875068.jpeg);
    /* width: 20%; */
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

}

.newPostActive{
    background-image: url(./875119.jpeg);
    /* width: 20%; */
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

}

.newNot{
    background-image: url(./1827504.jpeg);
    /* width: 20%; */
    background-size: 50%; 
    background-repeat: no-repeat;
    background-position: center;
}

.newNotActive{
    background-image: url(./1827425.jpeg);
    /* width: 20%; */
    background-size: 50%; 
    background-repeat: no-repeat;
    background-position: center;
}

.profInfo{
    background-image: url(./1077063.jpeg);
    /* width: 20%; */
    background-size: 50%; 
    background-repeat: no-repeat;
    background-position: center;
}

.profInfoActive{
    background-image: url(./1077114.jpeg);
    /* width: 20%; */
    background-size: 50%; 
    background-repeat: no-repeat;
    background-position: center;
}

.homeButton{
    background-image: url(./1946488.jpeg);
    /* width: 20%; */
    background-size: 50%; 
    background-repeat: no-repeat;
    background-position: center;

}

.homeButtonActive{
    background-image: url(./1946436.jpeg);
    /* width: 20%; */
    background-size: 50%; 
    background-repeat: no-repeat;
    background-position: center;

}

.dm{
    background-image: url(./561127.jpeg);
    /* width: 20%; */
    background-size: 50%; 
    background-repeat: no-repeat;
    background-position: center;  
}

.dmActive{
    background-image: url(./561188.jpeg);
    /* width: 20%; */
    background-size: 50%; 
    background-repeat: no-repeat;
    background-position: center;  
}

.icon{
 
    width: 2.6em;
    height: 2.6em;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
 
}
 
.menu__item.active .icon {
 
    animation: strok 1.5s reverse;
 
}
 
@keyframes strok {
 
    100% {
 
        stroke-dashoffset: 400;
 
    }
 
}
 
.menu__border{
 
    left: 0;
    bottom: 99%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut , var(--duration));
 
}
 
.svg-container {
 
    width: 0;
    height: 0;
}
 
 
@media screen and (max-width: 50em) {
    .menu{
        font-size: .8em;
    }
}